$dark-1: #0F1228;
$dark-2: #282E50;
$dark-3: #3d4153;

$primary-1: #42D0D0;
$primary-2: #fc9b9b;
$primary-3: #baa9f7;
$primary-4: #baa9f7c5;

$secondary-1: #495079;
$secondary-2: #7c88c9a1;

$light-0: #fff;
$light-1: #e7f5f5;
$light-2: #CDD2EC; //#F2FFFF
$light-3: rgba(183, 253, 255, 0.185); // items container bg

$shadow: rgba(1, 31, 36, 0.35);

